{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Aid abderrahmane" />

  <!-- [Favicon] -->
  <link rel="icon" href="{% static 'assets/images/favicon.svg' %}" />

  <!-- [Fonts & Icons] -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'assets/fonts/tabler-icons.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/fonts/feather.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/fonts/material.css' %}" />

  <!-- [Template CSS] -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" id="main-style-link" />
  <link rel="stylesheet" href="{% static 'assets/css/style-preset.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

 
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-14K1GBX9FG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-14K1GBX9FG');
  </script>
</head>

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- [ Pre-loader ] End -->

  <!-- [ Sidebar Menu ] start -->
  <nav class="pc-sidebar">
    <div class="navbar-wrapper">
      <div class="m-header">
        <a href="{% url 'home' %}" class="b-brand text-primary">
          <img src="{% static 'assets/images/mlogo.gif' %}" alt="logo" style="width: 140px; height: auto; margin-top:20px;" />
        </a>
      </div>
      <div class="navbar-content">
        <ul class="pc-navbar">
          <!--Navigation 1-->
          <li class="pc-item pc-caption">
            <label>Navigation</label>
          </li>


          {% if user.is_authenticated and user.role %}
          {% if permissions.view_dashboard or permissions.view_refresh %}
          <li class="pc-item">
            <a href="{% url 'powerbi_report:dashboard' %}" class="pc-link">
              <span class="pc-micon">
                <i data-feather="home"></i>
              </span>
              <span class="pc-mtext">Dashboard</span>
            </a>
          </li>
          {% endif %}
          {% if permissions.view_customuser %}
          <li class="pc-item">
            <a href="{% url 'users_view' %}" class="pc-link">
              <span class="pc-micon"><i data-feather="users"></i></span>
              <span class="pc-mtext">Manage Users</span>
            </a>
          </li>
          {% endif %}
          {% if permissions.view_powerbireport  %}
          <li class="pc-item">
            <a href="{% url 'powerbi_report:report_list' %}" class="pc-link">
              <span class="pc-micon"><i data-feather="folder"></i></span>
              <span class="pc-mtext">Manage Reports</span>
            </a>
          </li>
          {% endif %}

          {% if permissions.view_anomalyprediction %}
          <!-- New Anomaly Detection Link -->
          <li class="pc-item">
            <a href="{% url 'anomaly_detection:upload_log' %}" class="pc-link">
              <span class="pc-micon"><i data-feather="alert-triangle"></i></span>
              <span class="pc-mtext">Anomaly Detection</span>
            </a>
          </li>
          {% endif %}

          {% endif %}

          <!-- These items are accessible to all authenticated users -->
          {% if user.is_authenticated %}
          {% if permissions.view_report %}
          <li class="pc-item">
            <a href="{% url 'powerbi_report:report_list_hierarchy' %}" class="pc-link">
              <span class="pc-micon"><i data-feather="file-text"></i></span>
              <span class="pc-mtext">Reports</span>
            </a>
          </li>
          {% endif %}
          {% if permissions.view_task %}
          <li class="pc-item">
            <a href="{% url 'task_list' %}" class="pc-link">
              <span class="pc-micon"><i data-feather="clipboard"></i></span>
              <span class="pc-mtext">Tasks</span>
            </a>
          </li>
          {% endif %}
          <!--Navigation 2-->
          <li class="pc-item pc-caption">
            <label>Settings</label>
          </li>
          <li class="pc-item">
            <a href="{% url 'profile' %}" class="pc-link">
              <span class="pc-micon"><i data-feather="user"></i></span>
              <span class="pc-mtext">Profile</span>
            </a>
          </li>
          {% if permissions.view_notification %}
          <li class="pc-item">
            <a href="{% url 'notifications' %}" class="pc-link">
              <span class="pc-micon"><i data-feather="bell"></i></span>
              <span class="pc-mtext">Notifications</span>
            </a>
          </li>
          {% endif %}
          
          {% if permissions.view_userhistory %}
          <li class="pc-item">
            <a href="{% url 'user_history' user.id %}" class="pc-link">
              <span class="pc-micon"><i data-feather="clock"></i></span>
              <span class="pc-mtext">History</span>
            </a>
          </li>
          {% endif %}

          <li class="pc-item">
            <a href="{% url 'logout' %}" class="pc-link">
              <span class="pc-micon"><i data-feather="log-out"></i></span>
              <span class="pc-mtext">Logout</span>
            </a>
          </li>

         
          {% endif %}
           <!--Navigation 3-->
          {% if user.is_superuser %}
          <li class="pc-item pc-caption">
            <label>Control</label>
          </li>
          <li class="pc-item">
            <a href="{% url 'admin:index' %}" target="_blank" class="pc-link">
              <span class="pc-micon"><i data-feather="server"></i></span>
              <span class="pc-mtext">Control Panel</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- [ Sidebar Menu ] end -->

  <header class="pc-header">
    <div class="header-wrapper">
      <div class="me-auto pc-mob-drp">
        <ul class="list-unstyled">
          <li class="pc-h-item pc-sidebar-collapse">
            <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
              <i data-feather="menu"></i>
            </a>
          </li>
          <li class="pc-h-item pc-sidebar-popup">
            <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
              <i data-feather="menu"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- right side menu -->
      
      <div class="ms-auto">
        <ul class="list-unstyled">
          {% if user.is_authenticated %}
          <!-- Notifications Dropdown -->
          <li class="dropdown pc-h-item">
            <a class="pc-head-link dropdown-toggle arrow-none me-0"
               data-bs-toggle="dropdown"
               href="#" 
               role="button"
               aria-expanded="false">
              <i data-feather="bell"></i>
              {% if unread %}
              <span class="badge bg-success pc-h-badge">{{ unread }}</span>
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
              <div class="dropdown-header d-flex align-items-center justify-content-between">
                <h5 class="m-0">Notifications</h5>
                <form action="{% url 'mark_notifications' %}" method="post" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link btn-sm">Mark all read</button>
                </form>
              </div>
              <div class="dropdown-body text-wrap header-notification-scroll position-relative" style="max-height: calc(100vh - 215px)">
                {% if notifications %}
                  {% for notification in notifications %}
                  <div class="card mb-0">
                    <div class="card-body">
                      <div class="d-flex">
                        <div class="flex-grow-1 ms-3">
                          <a href="{% url 'notifications' %}" style="text-decoration: none; " onclick="markAsRead(this)">
                            <span class="float-end text-sm text-muted">{{ notification.created_at|timesince }} ago</span>
                            <p class="mb-0">{{ notification.message }}</p> 
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                {% else %}
                  <p class="text-muted">No unread notifications.</p>
                {% endif %}
              </div>
              <div class="text-center py-2">
                <form action="{% url 'delete_all' %}" method="post" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="link-danger" style="border:none; background:none;">Clear all Notifications</button>
                </form>
              </div>
            </div>
          </li>
          {% endif %}
        
          <!-- Profile Dropdown -->
          {% if user.is_authenticated %}
          <li class="dropdown pc-h-item header-user-profile">
            <a class="pc-head-link dropdown-toggle arrow-none me-0"
               data-bs-toggle="dropdown"
               href="#"
               role="button"
               aria-expanded="false">
              {% if user.profile_image %}
                <img src="{{ user.profile_image.url }}" alt="User Avatar" class="user-avtar wid-35" style="border-radius: 50%; z-index: 100;" />
              {% else %}
                <i data-feather="user"></i>
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown p-0 overflow-hidden">
              <div class="dropdown-header d-flex align-items-center justify-content-between bg-primary">
                <div class="d-flex my-2">
                  <div class="flex-shrink-0">
                    {% if user.profile_image %}
                      <img src="{{ user.profile_image.url }}" alt="User Avatar" class="user-avtar wid-35"/>
                    {% else %}
                      <img src="{% static 'assets/images/user/avatar.jpg' %}" alt="User Avatar" class="user-avtar wid-35" />
                    {% endif %}
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h6 class="text-white mb-1">{{ user.get_full_name|default:user.username }}</h6>
                    <span class="text-white text-opacity-75">{{ user.ad2000 }}</span>
                  </div>
                </div>
              </div>
              <div class="dropdown-body">
                <div class="profile-notification-scroll position-relative" style="max-height: calc(100vh - 225px)">
                  <a href="{% url 'profile' %}" class="dropdown-item">
                    <span>
                      <svg class="pc-icon text-muted me-2">
                        <use xlink:href="#custom-setting-outline"></use>
                      </svg>
                      <span>Settings</span>
                    </span>
                  </a>
                  <div class="d-grid my-2">
                    <button class="btn bg-red-500">
                      <a href="{% url 'logout' %}" class="pc-link">
                        <span class="pc-micon text-red-100"><i data-feather="log-out"></i></span>
                        <span class="text-red-100">Logout</span>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
      <div class="row">
        <div class="col my-1"></div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- [Page Specific JS] start -->
  <script src="{% static 'assets/js/plugins/apexcharts.min.js'%}"></script>
  <script src="{% static 'assets/js/plugins/jsvectormap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/world.js' %}"></script>
  <script src="{% static 'assets/js/pages/dashboard-default.js' %}"></script>
  <!-- [Page Specific JS] end -->
  <!-- Required Js -->
  <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/simplebar.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/fonts/custom-font.js' %}"></script>
  <script src="{% static 'assets/js/script.js' %}"></script>
  <script src="{% static 'assets/js/theme.js' %}"></script>
  <script src="{% static 'assets/js/plugins/feather.min.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const themeToggle = document.getElementById('theme-toggle');
    const body = document.body;

    // Vérifiez si le thème sombre est stocké dans le localStorage
    if (localStorage.getItem('theme') === 'dark') {
      body.setAttribute('data-pc-theme', 'dark');
      themeToggle.innerHTML = '<i data-feather="sun"></i>'; // Icône pour le mode sombre
    } else {
      themeToggle.innerHTML = '<i data-feather="moon"></i>'; // Icône pour le mode clair
    }

    // Écoutez les clics sur le bouton de basculement
    themeToggle.addEventListener('click', () => {
      if (body.getAttribute('data-pc-theme') === 'dark') {
        body.setAttribute('data-pc-theme', 'light');
        localStorage.setItem('theme', 'light');
        themeToggle.innerHTML = '<i data-feather="moon"></i>'; // Changer l'icône en mode clair
      } else {
        body.setAttribute('data-pc-theme', 'dark');
        localStorage.setItem('theme', 'dark');
        themeToggle.innerHTML = '<i data-feather="sun"></i>'; // Changer l'icône en mode sombre
      }
      feather.replace(); // Remplace les icônes Feather
    });

    function markAsRead(link) {
      link.classList.add('read-notification'); // Add the class to change the color
    }
  </script>

  <script>
    layout_change('light');
    change_box_container('false');
    layout_caption_change('true');
    layout_rtl_change('false');
    preset_change('preset-1');
    layout_theme_sidebar_change('false');
  </script>

</body>
</html>
